.sideBar {
    background-color: rgba(3, 3, 3, 0.97);
    width: 100%;
    height: 100%;
    border-radius: 24px  0  0 24px;
    margin-top: -3.77em;
    margin-left: -4.3em;

    z-index: 10000;
    position: fixed;
    /* overflow: unset; */
}

.profileCnt:hover .textCnt {
    display: block;
}

.textCnt {
    width: 10%;
    /* background-color: aquamarine; */
    text-align: center;
    /* display: none; */
}


.btnLink {
    /* background-color: rgb(167, 116, 50); */
    display: inline-block;
    width: 4%;
    height: auto;
    margin: 1em .5em;
}

.textCnt .textIcon {
    color: #FFF;
    font-size: 1.4em;
}


.profileCnt {
    /* background-color: burlywood; */
    display: flex;
    margin: 1em 0;
}

.profileBtn {
    padding-left: .5em;
    height: 3em;
    width: 2em;
    color: #FFF;
}


.chatsBtn {
    padding-left: .8em;

    height: 3em;
    width: 2em;
    color: #FFF;
}

.closedSide {
    /* background-color: #fff; */
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.closedSide p {
    background-color: rgb(157, 0, 0);
    color: #fff;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    padding: .5em;
    text-align: center;
    font-size: 1.2em;
    margin: .4em;
    font-weight: bold;
    cursor: pointer;
}

.logoutContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* background-color: aqua; */
}


/* RESPONSIVE PARA DISPOSITIVOS HASTA 760PX */
@media (max-width: 760px) {
    .sideBar {
        background-color: rgba(3, 3, 3, 0.998);
        width: 100%;
        height: 100vh;
        border-radius: 0;
        top: 0em;
        left: 0;
        margin-top: 0;
        margin-left: 0;
    
        z-index: 10000;
        position: fixed;
    }
    
    .profileCnt:hover .textCnt {
        display: none;
    }
    
    .textCnt {
        background-color: aquamarine;
        width: 40%;
        text-align: center;
        display: none;
    }
    
    
    .btnLink {
        background-color: rgba(255, 255, 255, 0.146);
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 1em;
        text-align: center;
        /* padding: 0 18em; */
        box-sizing: border-box;
    }
    
    .textCnt .textIcon {
        color: #FFF;
        font-size: 1.4em;
    }

    
    .closedSide {
        /* background-color: #fff; */
        width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    
    .closedSide p {
        background-color: rgb(157, 0, 0);
        color: #fff;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        padding: .5em;
        text-align: center;
        font-size: 1.2em;
        margin: .4em;
        font-weight: bold;
        cursor: pointer;
    }
    
    .logoutContainer {
        width: 100%;
        height: auto;
        margin: 0 auto;
        /* background-color: aqua; */
        text-align: center;
    }

}

/* RESPONSIVE PARA DISPOSITIVOS DE 760PX HASTA 1024*/
@media (min-width: 760px) and (max-width: 1024px) {
    .sideBar {
        background-color: rgba(3, 3, 3, 0.97);
        width: 100%;
        height: 100%;
        border-radius: 24px  0  0 24px;
        margin-top: -3.77em;
        margin-left: -4.3em;
    
        z-index: 10000;
        position: fixed;
        /* overflow: unset; */
    }
    
    .profileCnt:hover .textCnt {
        display: none;
    }
    
    .textCnt {
        width: 10%;
        /* background-color: aquamarine; */
        text-align: center;
        display: none;
    }
    
    
    .btnLink {
        /* background-color: rgb(167, 116, 50); */
        display: inline-block;
        width: 15%;
        height: auto;
        margin: 1em;
        text-align: center;
    }
    
    .textCnt .textIcon {
        color: #FFF;
        font-size: 1.4em;
    }
    
    
    .profileCnt {
        background-color: rgba(255, 255, 255, 0.174);
        display: flex;
        margin: 1em 0;
    }
    
    .profileBtn {
        padding-left: .5em;
        height: 3em;
        width: 2em;
        color: #FFF;
    }
    
    
    .chatsBtn {
        padding-left: .8em;
    
        height: 3em;
        width: 2em;
        color: #FFF;
    }
    
    .closedSide {
        /* background-color: #fff; */
        width: 100%;
        height: auto;
        margin: 1em auto;
        padding: 0 6%;
        /* text-align: center; */
    }
    
    .closedSide p {
        background-color: rgb(157, 0, 0);
        color: #fff;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        padding: .5em;
        text-align: center;
        font-size: 1.2em;
        margin: .4em;
        font-weight: bold;
        cursor: pointer;
    }
    
    .logoutContainer {
        width: 100%;
        height: auto;
        margin: 0 auto;
        /* background-color: aqua; */
    }
}