@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap");

.adoptar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_icon {
  width: 40px;
  height: 40px;
}

.detailUserContainer {
  background-color: #ffff;
  width: 100%;
  min-height: 85vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.detailUserInformation {
  width: 40%;
  height: auto;
  padding: 0.5em 5em;
}
.userStatus {
  font-family: "Ubuntu";
  font-weight: 800;
  font-size: 200%;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.3);
}
.userImage {
  width: 100%;
  height: 24em;
  display: flex;
  justify-content: center;
}

.userImage img {
  width: 385px;
  height: 385px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
  border-radius: 10px;
  margin-top: 5px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.btnContactBack {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: #44b7ff;
  color: #fff;
  padding: 0.2em;
  font-size: 25px;
  font-family: "Ubuntu";
  margin-top: 5%;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
  cursor: pointer;
  transition: transform 0.5s, filter 1.5s ease-in-out;
}

.btnContactBack:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.detailUserDescription {
  width: 60%;
  height: auto;
  padding: 0.5em 5em;
  padding-top: 5.5em;
  margin-right: 10%;
}

.descriptionUserContainer {
  background: radial-gradient(#54bdff, #aadeff);
  width: 100%;
  margin-top: 58px;
  height: auto;
  padding: 1em 2em;
  border-radius: 16px;
}

.descriptionUserContainer p {
  font-size: 175%;
  font-family: "Poppins";
  font-weight: 400;
}

.descriptionUserContainer p span {
  font-weight: 700;
}

.redes {
  display: flex;
  gap: 15px;
}

/* RESPONSIVE PARA DISPOSITIVOS HASTA 1040PX */
@media (max-width: 1040px) {
  .adoptar {
    /* background-color: #ef6c6c; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container {
    /* background-color: #2d6ea7; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img_icon {
    width: 40px;
    height: 40px;
  }
  
  .detailUserContainer {
    /* background-color: #6854ff; */
    background-color: #ffff;
    width: 100%;
    min-height: 85vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .detailUserInformation {
    /* background-color: #da54ff; */

    width: 100%;
    height: auto;
    padding: 0;
  }
  
  .userStatus {
    /* background-color: #549eff; */

    font-family: "Ubuntu";
    font-weight: 800;
    font-size: 120%;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.3);
  }
  .userImage {
    width: 100%;
    height: 24em;
    display: flex;
    justify-content: center;
  }
  
  .userImage img {
    width: 385px;
    height: 385px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
    border-radius: 10px;
    margin-top: 5px;
  }
  
  .btnContainer {
    /* background-color: #54ffa9; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
    padding: 0;
  }
  
  .btnContactBack {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #44b7ff;
    color: #fff;
    padding: 0.2em;
    font-size: 25px;
    font-family: "Ubuntu";
    margin-top: 5%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
    cursor: pointer;
    transition: transform 0.5s, filter 1.5s ease-in-out;
  }
  
  .btnContactBack:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
  
  .detailUserDescription {
    /* background-color: #5484ff; */

    width: 100%;
    height: auto;
    padding: 0;
    margin-right: 0;
  }
  
  .descriptionUserContainer {
    background: radial-gradient(#54bdff, #aadeff);
    width: 80%;
    height: auto;
    padding: 1em 2em;
    border-radius: 16px;
    margin: 1em auto;
  }
  
  .descriptionUserContainer p {
    font-size: 125%;
    font-family: "Poppins";
    font-weight: 400;
  }
  
  .descriptionUserContainer p span {
    font-weight: 700;
  }
  
  .redes {
    display: flex;
    gap: 15px;
  }
}
