.container {
    min-height: 100vh;
    max-width: 100vw;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    min-height: 100vh;
    min-width: 90vw;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat {
    background-color: #eeeeee;
    width: 60%;
}

.top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70px;
    background: #54b4d3;
    color: white;
    padding: 10px;
}

.desplegable {
    display: none;
    text-align: center;
    height: 60px;
    background: #3e3e3e;
    color: white;
    padding: 10px;
}

.iconoDesplegable {
    padding: 0px;
    background:none;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 30px;
    border-radius: 25px;
}

.iconoDesplegable:hover {
    transition: 1s;
    color: #3e3e3e;
    background: white;
    cursor: pointer;
    font-weight: 700;
}

.mensajes {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    height: 560px;
    padding: 10px;
    overflow-y: scroll;
}

.inputContainer {
    color: gray;
    text-align: center;
    padding: 10px;
}

.buttonTop {
    margin: 10px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.buttonTop:hover {
    color: blue;
}

.containerUser1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
}

.containerUser2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
}

.profilePic {
    width: 30px;
    height: 30px;
}

.messagge {
    margin: 0px 15px 0px 15px;
    padding: 5px;
    background-color: #d7f2fb;
    border-radius: 5px;
}

.containerChats {
    background: #eeeeee;
    width: 30%;
}
.chats {
    height: 635px;
    overflow-y: scroll;
    background-color: rgb(194,194,194, 0.2);
}
.containerHistoryUser {
    text-decoration:none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 15px 0px 15px;
    margin-top: 15px;
    padding: 5px;
    color: black;
    cursor: pointer;
}

.containerHistoryUserActual {
    text-decoration:none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 15px 0px 15px;
    margin-top: 15px;
    padding: 5px;
    color: black;
    background-color: rgb(194,194,194, 0.6);
    cursor:auto;
}

.containerHistoryUser:hover {
    transition: 0.1s;
    background-color: rgb(194,194,194, 0.1);
}

.containerHistoryUserText {
    align-items: center;
}

.historyUserText {
    margin: 0px 0px 0px 10px;
    font-weight: 500;
}

.historyUserText2 {
    margin: 0px 0px 0px 10px;
    color: gray;
    font-weight: 600;
}

.historyUserTextNoLeido {
    margin: 0px 0px 0px 10px;
    color: black;
    font-weight: 900;
}

.input {
    border: 1px solid rgba(194,194,194, 1);
    height: 33px;
    width: 200px;
    padding: 0px;
}
.input:focus {
    outline: none;
}

.enviarMensaje {
    background: #54b4d3;
    border: 3px solid #54b4d3;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 90px;
}

.enviarMensaje:hover {
    transition: 0.2s;
    background: #4796b0;
    border: 3px solid #4796b0;

}

.containerRelleno {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 725px;
}

.topImage {
    width:50px;
    height:50px;
    margin-right: 15px;
    border-radius: 25px;
}

@media (max-width: 750px) {
    .chat {
        margin: 0 auto;
        min-width: 80vw;
    }
    .containerChats {
        margin: 0 auto;
        min-width: 80vw;
    }
    .container2 {
        display: block;
        min-width: 80vw;
        background: gray;
        min-height: auto;
    }
    .container {
        min-height: auto;
    }
    .desplegable {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .chat {
        margin: 0 auto;
        min-width: 95vw;
    }
    .containerChats {
        margin: 0 auto;
        min-width: 95vw;
    }
    .container {
        min-height: auto;
    }
    .container2 {
        display: block;
        min-width: 95vw;
        background: gray;
        min-height: auto;
    }
    .desplegable {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}