@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500&family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&family=Ubuntu&display=swap');

.button {
    background-color: #8b90ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Ubuntu";
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #9ca1ff;
    transition: 0.25s;
    color: white;
  }