@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap");

.home {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: #ededed;
  bottom: 0;
}

/* ESTILOS PARA LA PRESENTACION */

.navEnHome {
  z-index: 5;
}

.landingInHome {
  height: 80%;
  overflow-y: visible;
  z-index: 0;
}

.img1 {
  position: absolute;
  width: 30%;
  height: 50%;
  right: 10%;
  top: 15%;
  background: url(../../img/e17e13c695f6c35d4756d7da29b6bf7f.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5%;
  transform: rotate(-9deg);
  z-index: 2;
}

/* .Circle {
  position: absolute;
  top: -25%;
  right: -10%;
  width: 50%;
  height: 100%;
  background-color: #04a5ff;
  z-index: -1;
  opacity: 0.5;
  border-radius: 50%;
  overflow: hidden;
} */

.Circle2 {
  position: absolute;
  top: 58%;
  right: 18%;
  width: 5%;
  height: 10%;
  border-radius: 50%;
  background-color: #75e3ea;
  z-index: 1;
}

.Circle3 {
  position: absolute;
  top: 50%;
  right: 37%;
  width: 5%;
  height: 10%;
  border-radius: 50%;
  background-color: #788eff;
  z-index: 0;
}

.presentation {
  width: 70%;
  height: auto;
  margin: 1em auto;
  padding: 0.3em;
}

.title {
  font-family: "Ubuntu";
}

.title h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}

.description {
  width: 80%;
  margin: 0 auto;
}

.description h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.4em;
}

/* ESTILOS PARA MOSTRAR LOS BOTONES */

.btnS {
  /* background-color: rgba(137, 43, 226, 0.568); */
  width: 80%;
  height: auto;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ESTILOS PARA MOSTRAR LAS TARJETAS */

.cards {
  width: 85%;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  background-color: #2aadf6;
  width: 12em;
  height: 3.5em;
  border: #059ff6 1px solid;
  border-radius: 8px;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 100%;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #43baf9;
}

.button:active {
  transform: scale(0.97);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.claseboton {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 16px;
  width: 150px;
  color: #48bfff;
  background-color: white;
  border: 3px solid #48bfff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.claseboton:hover {
  background-color:#43baf9;
  color: white;
  transition: 0.2s;
  transform: translateY(-2px);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.linkText {
  text-decoration: none;
  color: inherit;
}