@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500&family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&family=Ubuntu&display=swap');

.home {
    width: 100%;
    max-height: 100vh;
    background-color: #F7F8F9;
}

/* ESTILOS PARA LA PRESENTACION */

.presentation {
  width: 70%;
  height: auto;
  margin: 1em auto;
  padding: 0.3em;
}

.title {
  font-family: "Ubuntu";
}

.title h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}

.description {
  width: 80%;
  margin: 0 auto;
}

.description h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.4em;
}

/* ESTILOS PARA MOSTRAR LOS BOTONES */

.btnS {
  /* background-color: rgba(137, 43, 226, 0.568); */
  width: 90%;
  height: auto;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ESTILOS PARA MOSTRAR LAS TARJETAS */

.cards {
  /* background-color: beige; */
  width: 90%;
  height: auto;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}