.reviewContainer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    height: 200px;
    margin-bottom: 50px;
}

.userImg {
    height: 200px;
    margin: 0px;
}

.containerStars {
    min-width: 150px;
}

.opinion {
    margin: 20px;
}

@media (max-width: 1000px) {
    .reviewContainer {
        display: block;
        height: auto;
    }
    .userImg {
        height: auto;
        width: 200px;
    }
}