.buttonCamapañasView{
    display: flex;
    background: linear-gradient(360deg, #c7eaff, #059ff6);
    justify-content: center;
    text-align: center;
    padding: 300px 10px;
    height: 10px;
    margin-top: 55px;
    font-size: 50px;
    border: transparent;
    border-radius: 25px;
    width: 49px;
    cursor: pointer;
}
.buttonCamapañasView:hover{
    background-color: blue;
    color: white
}
.campañascontainer{
    display: flex;
}