@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap");

.card {
  display: grid;
  justify-content: center;
  margin: 1rem;
  height: 425px;
  width: 280px;
  background: linear-gradient(360deg, #c7eaff, #059ff6);
  transition: 0.5s;
  cursor: pointer;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 10px 20px rgba(0, 0, 0, 0.15);
}

.card:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.title {
  color: #000000;
  text-align: center;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 25px;
  z-index: 3;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}

.text {
    color: #000000;
    text-align: center;
    justify-content: center;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    z-index: 3;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 225px;
  object-fit: cover;
  align-content: center;
  border-radius: 0px;
}

.name {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans JP";
  font-weight: 500;
  width: 90%;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
}
