@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap");

.link_detail {
  text-decoration: none;
  color: #000000;
}

.card {
  display: flex;
  justify-content: center;
  margin: 1rem;
  background: #f8f8f8;
  height: 400px;
  width: 280px;
  background: linear-gradient(360deg, #c7eaff, #059ff6);
  transition: 0.5s;
  cursor: pointer;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}

.card:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 225px;
  object-fit: cover;
  align-content: center;
  border-radius: 0px;
}

.name {
  margin: 0px;
  font-family: "Noto Sans JP";
  font-weight: 400;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}

.corazonUnfollow {
  font-size: 50px;
  display: none;
  margin: 0 auto;
  color: rgba(52,131,250,0.5);
  pointer-events: all;
  background: none;
  border: none;
  cursor: pointer;
}

.card:hover .corazonUnfollow {
  display: flex;
}

.corazonUnfollow:hover {
  color: rgba(52,131,250,1);
}

.corazonFollow {
  font-size: 45px;
  display: none;
  margin: 0 auto;
  color: rgba(52,131,250,1);
  pointer-events: all;
  background: none;
  border: none;
  cursor: pointer;
}

.card:hover .corazonFollow {
  display: flex;
}

.corazonFollow:hover {
  color: rgba(52,131,250,0.8);
}