@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');

.footer {
  background-color: #253066;
  align-items: center;
  bottom: 0px;
  display: flex;
  height: 80px;
  width: 100%;
  left: 0px;
  margin-top: 0;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texts {
  color: white;
  text-decoration: none;
  font-family: "Noto Sans";
  font-weight: 300;
  font-size: 100%;
  margin-left: 5%;
  margin-right: 5%;
  width: fit-content;
  white-space: nowrap;
  background: transparent;
}

.feeticon {
  color: #d9dbe1;
  font-size: 200%;
}

.box1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.iconSocial {
  color: #d9dbe1;
  font-size: 25px;
  justify-content: space-between;
  margin-left: 25px;
}


/* RESPONSIVE PARA DISPOSITIVOS HASTA 760PX */
@media (max-width: 760px) {
  .footer {
    background-color: #253066;
    align-items: center;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    left: 0px;
    margin-top: 0;
  }
  
  .box {
    /* background-color: rgb(96, 76, 50); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .box1 {
    /* background-color: #3b3e49; */
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .box1Icons {
    /* background-color: #d9dbe1; */
    display: flex;
    flex-direction: column;
  }

  .iconSocial {
    color: #d9dbe1;
    font-size: 50px;
    justify-content: space-between;
    margin: .2em 0px;
    transition: .3s;
  }

  .iconSocial:hover {
    color: #a0a2a8;
    transition: .3s;
  }
}

/* RESPONSIVE PARA DISPOSITIVOS DE 760PX HASTA 1024*/
@media (min-width: 760px) and (max-width: 1024px) {
  .footer {
    /* background-color: #253066; */
    /* background-color: #7881ad; */
    align-items: center;
    bottom: 0px;
    display: flex;
    height: 80px;
    width: 100%;
    left: 0px;
    margin-top: 0;
  }
  
  .box {
    /* background-color: #78ad9d; */
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .texts {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: "Noto Sans";
    font-weight: 300;
    font-size: 100%;
    justify-content: space-around;
    width: 100%;
    margin: 1em;

    white-space: nowrap;
    background: transparent;
    /* background-color: #064331; */

  }
  
  .feeticon {
    /* background-color: #063143; */

    color: #d9dbe1;
    font-size: 200%;
  }
  
  .box1 {
    /* background-color: #064331; */

    width: 100%;
    display: flex;
    justify-content: center;
  }
  
}