.body{
    background-color: #EDEDED;
}


.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    margin-left: 120px;
    width: 100%;
    height: 100%;
    min-height: 80vh;
}

.icon{
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #0D8BCD;
    
}

.icon:hover{
    color: #42A5F5
}

.divIcon{
    padding-top: 40px;
    padding-left: 40px;
}