.body{
    background-color: #EDEDED;
}


.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    min-height: 80vh;
}


.containerDetailCampaign {
    /* background-color: aquamarine; */
    width: 100%;
    height: 100vh;
}

.campaignContainer {
    /* background-color: bisque; */
    width: 100%;
    height: 75vh;
    padding: 3em 0;
}

.titleCampaign {
    /* background-color: brown; */
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.titleCampaign h1 {
    font-size: 2.2em;
    text-align: center;
    padding: .7em 0;
}

.detailInfoCampaign {
    /* background-color: azure; */
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: .5em;
}

.detailInfoCampaign img {
    width: 25em;
    height: auto;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
}

.infoCampaign {
    /* background-color: cadetblue; */
    width: 65%;
    margin: 0 auto;
}



.goalCampaign {
    /* background-color: burlywood; */
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.goalCampaign h3 {
    font-size: 1.6em;
    padding: 0em .5em;
}


.descriptionCampaign {
    /* background-color: burlywood; */
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.descriptionCampaign h3 {
    font-size: 1.4em;
    padding: 0em .5em;
}

.btnsCampaign {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    /* margin: 1em 0; */
}

.btnPay {
    width: 160px;
    border: none;
    border-radius: 100px;
    background-color: #2AADF6;
    color: #FFF;
    padding: .2em;
    font-size: 2em;
    font-family: "Ubuntu";
    align-items: center;
    margin-top: 5%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
    cursor: pointer;
    transition: transform 0.5s, filter 1.5s ease-in-out;
}

.btnPay:hover {
    opacity: .9;
    transform: scale(1.05);
}

.btnBack {
    width: 160px;
    border: none;
    border-radius: 100px;
    background-color: #8b90ff;
    color: #FFF;
    padding: .2em;
    font-size: 2em;
    font-family: "Ubuntu";
    margin-top: 5%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
    cursor: pointer;
    transition: transform 0.5s, filter 1.5s ease-in-out;
}

.btnBack:hover {
    opacity: .9;
    transform: scale(1.05);
}

/* RESPONSIVE PARA DISPOSITIVOS HASTA 760PX */
@media (max-width: 880px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-gap: 0px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        min-height: 80vh;
        padding: 0 3%;
    }
    
    
}