.container{
 margin-top: 1rem;
 width: fit-content;
 
    }

.camp{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    margin: 1rem;
    height:95%;
    width: 400px;
    border-radius: 8px;
    transition: 0.5s;
    border: #dadada 1px solid;
    background-color: #ffff;
    
}
.camp:hover {
  box-shadow: -2px 10px 14px 0px #626262;
  
    cursor: pointer;
  
}


.img {
    display: flex;
   position: relative;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 220px;
    height: 238px;
    object-fit: cover;
    align-content: center;
    border: #788eff 2px solid;
    border-radius: 5%;
  /* transform: rotate(-5deg); */
    z-index: 3;
}
.nolink{
    text-decoration: none;
    color: #000000;
}

.circle2 {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #788eff;
    z-index: 0;
    margin-left: 50px;
    margin-top:30px;
  }

  .circle1 {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #75e3ea;
    z-index: 0;
    margin-left: 230px;
    margin-top: 100px;
    
  }

  /* .circle3 {
    position: absolute;
    width: 200px;
    height: 100px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    background-color: #04a5ff;
    z-index: 1;
    margin-bottom: 250px;
    margin-left: 250px;
    transform: rotate(-90deg);
  } */