@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap");


.body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border: #0D8BCD 2px solid;
  background: linear-gradient(360deg, #d8f0ff, #8dd5ff);
  background-color: #ffff;
}

.img {
  width: 70%;
  height: 40vh;
  border-radius: 8px;
  object-fit: cover;
}

.button {
  background-color: #0095ff;
  height: 60%;
  width: 30%;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.button:hover,
.button:focus {
  background-color: #07c;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.button:disabled{
  background-color: #717171;
  box-shadow: none;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
  height: 70px;
  margin-bottom: 20px;
  
}

.field {
  height: 35px;
  font-size: 13px;
  font-weight: 400;
}

.textbox {
  width: 70%;
  min-height: fit-content;
  margin-bottom: 40px;
  padding: 30px;
  border: #0D8BCD 2px solid;
  font-size: large;
  background-color: #fff;
}

.error {
  text-align: center;
  color: #a80202;
}

.amounts{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}

.amounts p{
    
    font-weight: bold;
    
}
.amounts h3{
    
    font-weight: bold;
    color: #646BFF;
}

.icon{
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #0D8BCD;
    margin: 20px 20px;
}

.icon:hover{
    color: #42A5F5
}

.bar{
    width: 60%;
    height: 30px;
}

.cumplido{
  position: absolute;
  z-index: 1;
  width: 25%;

}