@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:wght@300;700&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&family=Ubuntu&display=swap');

.NavLan {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: content-box;
  justify-content: center;
  padding: 1%;
  background-color: transparent;
  width: 100%;
  z-index: 3;
}

.Title {
  display: flex;
  justify-content: center;
}

.TitleTxt {
  font-weight: 800;
  font-size: 200%;
  margin-left: 5%;
  font-family: "Noto Sans";
}

.iconFeet {
  font-size: 300%;
  color: black;
}

.iconRedes1 {
  position: absolute;
  /*margin-left: 50%;*/
  top: 27px;
  right: 300px;
  font-size: 200%;
  color: black;
}
.iconRedes2 {
  position: absolute;
  top: 27px;
  right: 196px;
  font-size: 200%;
  margin-right: 2.5%;
  color: black;
}

.iconRedes3 {
  position: absolute;
  top: 27px;
  right: 129px;
  font-size: 200%;
  margin-right: 2.5%;
  color: black;
}

.text {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  font-size: 600%;
  font-family: "Noto Sans JP";
  font-weight: 800;
  color: rgb(33, 31, 31);

}

.textP {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 130%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
}

.buttonLan {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.3%;
  width: 150px;
  text-align: center;
  font-family: "Poppins";
  font-size: larger;
  font-weight: 400;
  height: 48px;
  border-radius: 6px;
  border: none;
  background: #8b90ff;
  color: #fff;
  cursor: pointer;
}

.buttonLan:hover {
  background: #5c60a9;
}

.img1 {
  position: absolute;
  width: 30%;
  height: 60%;
  min-width: 30%;
  min-height: 60%;
  right: 10%;
  top: 15%;
  background: url(../../img/e17e13c695f6c35d4756d7da29b6bf7f.jpg);
  background-size: cover;
  border-radius: 5%;
  transform: rotate(-9deg);
  z-index: 2;
}

.Circle {
  position: fixed;
  top: 20%;
  right: -55%;
  width: 60%;
  height: 120%;
  background-color: #04a5ff;
  z-index: 0;
  opacity: 0.5;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.Circle2 {
  position: fixed;
  top: 68%;
  right: 18%;
  width: 5%;
  height: 10%;
  border-radius: 50%;
  background-color: #75e3ea;
  z-index: 1;
}

.Circle3 {
  position: fixed;
  top: 50%;
  right: 37%;
  width: 5%;
  height: 10%;
  border-radius: 50%;
  background-color: #788eff;
  z-index: 0;
}

@media screen and (max-width: 1400px) {
  .NavLan {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    padding: 1%;
    background-color: transparent;
    width: 100%;
    z-index: 3;
  }
  
  .Title {
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
  
  .TitleTxt {
    font-weight: 800;
    font-size: 150%;
    margin-left: 5%;
    font-family: "Noto Sans";
  }
  
  .iconFeet {
    font-size: 225%;
    color: black;
  }
  
  .iconRedes1 {
    margin-left: 50%;
    margin-right: 2.5%;
    font-size: 150%;
  }
  .iconRedes {
    font-size: 150%;
    margin-right: 2.5%;
  }
  
  .text {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 400%;
    font-family: "Noto Sans JP";
    font-weight: 800;
    color: rgb(33, 31, 31);
  
  }
  
  .textP {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: left;
  }
  
  .buttonLan {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.3%;
    width: 120px;
    text-align: center;
    font-family: "Poppins";
    font-size: medium;
    font-weight: 400;
    height: 38px;
    border-radius: 6px;
    border: none;
    background: #8b90ff;
    color: #fff;
    cursor: pointer;
  }
  
  .buttonLan:hover {
    background: #5c60a9;
  }
  
  .img1 {
    position: absolute;
    width: 30%;
    height: 60%;
    right: 10%;
    top: 15%;
    background: url(../../img/e17e13c695f6c35d4756d7da29b6bf7f.jpg);
    background-size: cover;
    border-radius: 5%;
    transform: rotate(-9deg);
    z-index: 2;
  }
  
  .Circle {
    position: fixed;
    top: 20%;
    right: -55%;
    width: 60%;
    height: 120%;
    background-color: #04a5ff;
    z-index: 0;
    opacity: 0.5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Circle2 {
    position: fixed;
    top: 68%;
    right: 18%;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    background-color: #75e3ea;
    z-index: 1;
  }
  
  .Circle3 {
    position: fixed;
    top: 50%;
    right: 37%;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    background-color: #788eff;
    z-index: 0;
  }
}

@media screen and (max-width: 1000px) {
  .NavLan {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    padding: 1%;
    background-color: transparent;
    width: 100%;
    z-index: 3;
  }
  
  .Title {
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
  
  .TitleTxt {
    font-weight: 800;
    font-size: 100%;
    margin-left: 5%;
    font-family: "Noto Sans";
  }
  
  .iconFeet {
    font-size: 150%;
    color: black;
  }
  
  .iconRedes1 {
    margin-left: 50%;
    margin-right: 2.5%;
    font-size: 100%;
  }
  .iconRedes {
    font-size: 150%;
    margin-right: 2.5%;
  }
  
  .text {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 300%;
    font-family: "Noto Sans JP";
    font-weight: 800;
    color: rgb(33, 31, 31);
  
  }
  
  .textP {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 70%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: left;
  }
  
  .buttonLan {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.3%;
    width: 80px;
    text-align: center;
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 400;
    height: 28px;
    border-radius: 6px;
    border: none;
    background: #8b90ff;
    color: #fff;
    cursor: pointer;
  }
  
  .buttonLan:hover {
    background: #5c60a9;
  }
  
  .img1 {
    position: absolute;
    width: 30%;
    height: 60%;
    right: 10%;
    top: 15%;
    background: url(../../img/e17e13c695f6c35d4756d7da29b6bf7f.jpg);
    background-size: cover;
    border-radius: 5%;
    transform: rotate(-9deg);
    z-index: 2;
  }
  
  .Circle {
    position: fixed;
    top: 20%;
    right: -55%;
    width: 60%;
    height: 120%;
    background-color: #04a5ff;
    z-index: 0;
    opacity: 0.5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Circle2 {
    position: fixed;
    top: 68%;
    right: 18%;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    background-color: #75e3ea;
    z-index: 1;
  }
  
  .Circle3 {
    position: fixed;
    top: 50%;
    right: 37%;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    background-color: #788eff;
    z-index: 0;
  }
}

@media screen and (max-width: 750px) {
  .NavLan {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    padding: 1%;
    background-color: transparent;
    width: 100%;
    z-index: 3;
  }
  
  .Title {
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
  
  .TitleTxt {
    font-weight: 800;
    font-size: 100%;
    margin-left: 5%;
    font-family: "Noto Sans";
  }
  
  .iconFeet {
    font-size: 125%;
    color: black;
  }
  
  .iconRedes1 {
    margin-left: 50%;
    margin-right: 2.5%;
    font-size: 100%;
  }
  .iconRedes {
    font-size: 150%;
    margin-right: 2.5%;
  }
  
  .text {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 250%;
    font-family: "Noto Sans JP";
    font-weight: 800;
    color: rgb(33, 31, 31);
  
  }
  
  .textP {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 60%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: left;
  }
  
  .buttonLan {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.3%;
    width: 80px;
    text-align: center;
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 400;
    height: 28px;
    border-radius: 6px;
    border: none;
    background: #8b90ff;
    color: #fff;
    cursor: pointer;
  }
  
  .buttonLan:hover {
    background: #5c60a9;
  }
  
  .img1 {
    position: absolute;
    width: 30%;
    height: 60%;
    right: 10%;
    top: 15%;
    background: url(../../img/e17e13c695f6c35d4756d7da29b6bf7f.jpg);
    background-size: cover;
    border-radius: 5%;
    transform: rotate(-9deg);
    z-index: 2;
  }
  
  .Circle {
    position: fixed;
    top: 20%;
    right: -55%;
    width: 60%;
    height: 120%;
    background-color: #04a5ff;
    z-index: 0;
    opacity: 0.5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Circle2 {
    position: fixed;
    top: 68%;
    right: 18%;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    background-color: #75e3ea;
    z-index: 1;
  }
  
  .Circle3 {
    position: fixed;
    top: 50%;
    right: 37%;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    background-color: #788eff;
    z-index: 0;
  }
}