.NavLan{
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: rgb(231, 231, 231) ;
}

.Title-land{
    font-weight: 700;
    font-size: 25px;
}

.icon-feet{
    font-size: 32px;
    color: black;
}
.icon-redes1{
    margin-left: 1200px;
    font-size: 28px;
}
.icon-redes{
    font-size: 28px;
    margin-left: 25px;
}
.text{
    margin-top: 200px;
    margin-left: 150px;
    font-size: 100px;
    color: rgb(33, 31, 31)
}
.text-p{
    margin-left: 150px;
    text-align: left;
}
.buttonLan{
    margin-left: 150px;
    margin-top: 100px;
    width:154px;
    text-align: center;
    height: 48px;
    border-radius: 6px;
    border: none;
    background: #8B90FF;
    color: #fff;
    cursor: pointer
}
.buttonLan:hover{
    background: #5c60a9;
}
.Lan-dad{
    margin: 0px;
    width: 100%;
}
.img1{
    position: absolute;
    width: 503.24px;
    height: 492.53px;
    left: 861px;
    top: 220.72px;
    
    background: url(../../img/e17e13c695f6c35d4756d7da29b6bf7f.jpg);
    border-radius: 25px;
    transform: rotate(-9deg);
}
