.buttonPaginated {
  display: block;
  padding: 1rem;
  color: #ffffff;
  font-family: "Noto Sans JP";
  background: linear-gradient(135.13deg, #61c2ff 10.46%, #5dc1ff 127.81%);
  font-size: 1rem;
  border-radius: 10px;
  border: solid 1px;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 1px;
  margin-right: 1px;
}
.numberPaginado {
  display: inline-block;
  margin-right: 10px;
}
.paginacion {
  padding: 1rem;
  list-style: none;
  text-align: center;
}
.paginado {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.buttonPaginated:hover {
  background: linear-gradient(135.13deg, #61c2ff 10.46%, #cdecff 127.81%);
  color: white;
}

.buttonPaginatedActive {
  display: block;
  padding: 1rem;
  color: #ffffff;
  background: linear-gradient(135.13deg, #61c2ff 10.46%, #5dc1ff 127.81%);
  font-size: 1rem;
  border-radius: 10px;
  border: solid 1px;
  cursor: pointer;
  transition: 0.4s;
}
