.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 300px;
  height: 550px;
  background: #c2f4ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 150px 0px;
}

.selectBox {
  width: 184px;
  height: 44px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  background-color: #8b90ff;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  border: #646bff 1px solid;
}

.btn {
  width: 184px;
  height: 44px;
  margin-top: 30px;
  background: #8b90ff;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 14px;
  margin-left: 50px;
  border: #646bff 1px solid;
  color: #ffffff;
}

.btn:hover {
  background-color: #9ca1ff;
}

.btn:active {
  transform: scale(0.97);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.search {
  border: #646bff 1px solid;
  background-color: #8b90ff;
  border-radius: 10px;
  padding: 10px 10px;
  /* margin-left: 0%; */
  font-size: 110%;
  color: rgb(255, 255, 255);
  outline: none;
  margin-top: 30px;
  margin-left: 10px;
}

.search::placeholder {
  color: white;
  font-family: "Ubuntu";
  font-weight: 400;
}

.searchButton {
  background-color: transparent;
  scale: 150%;
  color: black;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -10%;
  position: relative;
  /* right: 25px; */
  cursor: pointer;
  margin-top: 30px;
}

.searchButton:hover {
  /* background-color: #9ca1ff; */
  color: white;
}

.restoreButton {
  background-color: #8b90ff;
  color: white;
  border: #646bff 1px solid;
  border-radius: 10px;
  padding: 10px 24px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  white-space: nowrap;
  margin-left: -5%;
  margin-top: 30px;
}

.restoreButton:hover {
  background-color: #9ca1ff;
  color: white;
}

.restoreButton:active {
  transform: scale(0.97);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.searchContainer {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}

.newsearch {
  display: flex;
  flex-direction: row;
}
