.body{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
}

.gracias{
   text-align: center;
    margin: 20px;
}

.img{
    height: 80%;
    width: 80%;
    border: #000000 1px solid;
}

.icon{
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #0D8BCD;
    margin: 20px 20px;
}

.icon:hover{
    color: #42A5F5
}