.container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
  height: fit-content;
  background-color: #46c0d9;
  border-top-left-radius: 261px;
  border-bottom-right-radius: 187.5px;
  border-bottom-left-radius: 31px;
  border: 3px solid #f4f1de;
  box-shadow: -2px 10px 14px 0px #626262;
  color: #000000;
  font-size: 20px;
}

.input {
  width: 400px;
  height: 40px;
  background-color: #f7f8f9;
  border-radius: 8px;
  border: #e8ecf4 solid 1px;
  margin: 10px;
  text-align: center;
}

.btn {
  background-color: #000000;
  width: 331px;
  height: 56px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  transition: transform 0.5s, filter 1.5s ease-in-out;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.97);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn_disabled {
  background-color: rgba(20, 21, 20, 0.387);
  width: 331px;
  height: 56px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  transition: transform 0.5s, filter 1.5s ease-in-out;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
  cursor: not-allowed;
}

.divinput {
  text-align: center;
  margin-top: 5px;
}

.divradio {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 70px;
  width: 400px;
  border: #4a4848 1px solid;
}

.error {
  text-align: center;
  font-size: 14px;
  color: #a80202;
}

.form hr {
  clear: both;
  visibility: hidden;
}

.textArea {
  justify-content: center;
}
.form input[type="radio"] {
  margin: 0px 10px;
  height: 20px;
  width: 20px;
}

.exito {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #010c01;
}
