@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap");

.body{
  background: radial-gradient(circle, #aae0ff, #EDEDED);
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
  height: fit-content;
  background: radial-gradient(circle, #69c8ff, #a6ddff);
  border-top-left-radius: 261px;
  border-bottom-right-radius: 187.5px;
  border-bottom-left-radius: 31px;
  border: 2px solid #f4f1de;
  box-shadow: -2px 10px 14px 0px #626262;
  color: #000000;
  font-size: 20px;
  font-family: "Poppins";
}

.input {
  width: 400px;
  height: 40px;
  background-color: #f7f8f9;
  border-radius: 8px;
  border: none;
  margin: 10px;
  text-align: center;
}
.inputAge {
  width: 100px;
  height: 40px;
  background-color: #f7f8f9;
  border-radius: 8px;
  border: none;
  margin: 10px;
  text-align: center;
}
.input2 {
  
  
  height: 40px;
  background-color: #f7f8f9;
  border-radius: 8px;
  border: none;
  margin: 10px;
  text-align: center;
}

.region{
  display: flex;
  flex-direction: row;
  width: 50%;
  
}

.geo{
  height: 40px;
  background-color: #f7f8f9;
  border-radius: 8px;
  border: black 1px solid;
  margin: 10px;
  align-items: center;
  text-align: center;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}
.geo:hover{
  background-color: #EDEDED
}

.btn {
  background-color: #000000;
  width: 331px;
  height: 56px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  transition: transform 0.5s, filter 1.5s ease-in-out;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.97);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn_disabled {
  background-color: rgba(20, 21, 20, 0.387);
  width: 331px;
  height: 56px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  transition: transform 0.5s, filter 1.5s ease-in-out;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
  cursor: not-allowed;
}

.divinput {
  text-align: center;
  margin-top: 5px;
}

.divradio {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  height: 70px;
  width: 400px;
}

.error {
  text-align: center;
  font-size: 14px;
  color: #a80202;
}

.form hr {
  clear: both;
  visibility: hidden;
}

.textArea {
  justify-content: center;
}

.form input[type="radio"] {
  margin: 0px 10px;
  height: 20px;
  width: 20px;
}

.exito {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #010c01;
}

/* RESPONSIVE PARA DISPOSITIVOS HASTA 760PX */
@media (max-width: 760px) {
  .container {
    display: flex;
    justify-content: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: fit-content;
    background-color: #46c0d9;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 3px solid #f4f1de;
    box-shadow: -2px 10px 14px 0px #626262;
    color: #000000;
    font-size: 20px;
  }
  
  .input {
    width: 80%;
    height: 40px;
    background-color: #f7f8f9;
    border-radius: 8px;
    border: #e8ecf4 solid 1px;
    margin: 10px auto;
    text-align: center;
  }
  
  .btn {
    background-color: #000000;
    width: 100%;
    margin: 1em auto;
    height: 56px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    transition: transform 0.5s, filter 1.5s ease-in-out;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
    cursor: pointer;
  }
  
  .btn:active {
    transform: scale(0.97);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
  
  .btn_disabled {
    background-color: rgba(20, 21, 20, 0.387);
    width: 100%;
    margin: 1em auto;
    height: 56px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    transition: transform 0.5s, filter 1.5s ease-in-out;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
    cursor: not-allowed;
  }
  
  .divinput {
    text-align: center;
    margin-top: 5px;
  }
  
  .divradio {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 70px;
    width: 80%;
  }
  
  .error {
    text-align: center;
    font-size: 14px;
    color: #a80202;
  }
  
  .form hr {
    clear: both;
    visibility: hidden;
  }
  
  .textArea {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
  .form input[type="radio"] {
    margin: 0px 10px;
    height: 20px;
    width: 20px;
  }
  
  .exito {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #010c01;
  }

}


/* RESPONSIVE PARA DISPOSITIVOS DE 760PX HASTA 1024*/
@media (min-width: 760px) and (max-width: 1024px) {
    .container {
    display: flex;
    justify-content: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: fit-content;
    background-color: #46c0d9;
    border-top-left-radius: 261px;
    border-bottom-right-radius: 187.5px;
    border-bottom-left-radius: 31px;
    border: 3px solid #f4f1de;
    box-shadow: -2px 10px 14px 0px #626262;
    color: #000000;
    font-size: 20px;
  }
  
  .input {
    width: 80%;
    height: 40px;
    background-color: #f7f8f9;
    border-radius: 8px;
    border: #e8ecf4 solid 1px;
    margin: 10px auto;
    text-align: center;
  }
  
  .btn {
    background-color: #000000;
    width: 100%;
    margin: 1em auto;
    height: 56px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    transition: transform 0.5s, filter 1.5s ease-in-out;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
    cursor: pointer;
  }
  
  .btn:active {
    transform: scale(0.97);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
  
  .btn_disabled {
    background-color: rgba(20, 21, 20, 0.387);
    width: 100%;
    margin: 1em auto;
    height: 56px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    transition: transform 0.5s, filter 1.5s ease-in-out;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.246);
    cursor: not-allowed;
  }
  
  .divinput {
    text-align: center;
    margin-top: 5px;
  }
  
  .divradio {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 70px;
    width: 80%;
  }
  
  .error {
    text-align: center;
    font-size: 14px;
    color: #a80202;
  }
  
  .form hr {
    clear: both;
    visibility: hidden;
  }
  
  .textArea {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
  .form input[type="radio"] {
    margin: 0px 10px;
    height: 20px;
    width: 20px;
  }
  
  .exito {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #010c01;
  }

}
