.body{
  background-color: #EDEDED;
}

.aboutPrincipal {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.cardAbout {
  width: 250px;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  background: linear-gradient(360deg, #e0f3ff, #17a6ff);
  box-shadow: 0 8px 8px 2px rgba(48, 48, 48, 0.37);
  transition: 0.6s;
  margin: 25px;
  margin-left: 100px;
}
.imgAbout {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background: url(../../img/perro1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.IconAbout {
  font-size: 35px;
  margin: 10px;
  justify-content: center;
  text-align: center;
  margin-left: 55px;
}
.TextAbout {
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 550;
}

.imgAbout1 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background: url(../../img/perro2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.imgAbout2 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background: url(../../img/perro3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.imgAbout3 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background: url(../../img/perro4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.imgAbout4 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background: url(../../img/e17e13c695f6c35d4756d7da29b6bf7f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.imgAbout5 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background: url(../../img/perro5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.imgAbout6 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background: url(../../img/perro6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.imgAbout7 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  background: url(../../img/perro7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

/* RESPONSIVE PARA DISPOSITIVOS HASTA 760PX */
@media (max-width: 760px) {
  
  .aboutPrincipal {
    /* background-color: #17a6ff; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    margin: 0 auto;
  }
  
  .cardAbout {
    width: 250px;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    background: linear-gradient(360deg, #e0f3ff, #17a6ff);
    box-shadow: 0 8px 8px 2px rgba(48, 48, 48, 0.37);
    transition: 0.6s;
    margin: 25px;
    margin: 1em auto;
  } 
}

/* RESPONSIVE PARA DISPOSITIVOS DE 760PX HASTA 1024*/
@media (min-width: 760px) and (max-width: 1024px) {
  .aboutPrincipal {
    /* background-color: #17a6ff; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 0 auto;
  }
  
  .cardAbout {
    width: 250px;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    background: linear-gradient(360deg, #e0f3ff, #17a6ff);
    box-shadow: 0 8px 8px 2px rgba(48, 48, 48, 0.37);
    transition: 0.6s;
    margin: 25px;
    margin: 1em auto;
  } 
}

/* RESPONSIVE PARA DISPOSITIVOS DESPUES DE 1024PX*/
@media (min-width: 1024px) {
  .aboutPrincipal {
    /* background-color: #17a6ff; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin: 0 auto;
  }
  
}

/* RESPONSIVE PARA DISPOSITIVOS DESPUES DE 1600PX*/
@media (min-width: 1600px) {
  .aboutPrincipal {
    /* background-color: #17a6ff; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin: 0 auto;
  }
  
}