@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c2f4ff;
  height: 78px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 10%;
}

.nav li {
  margin: 10%;
  width: fit-content;
  white-space: nowrap;
}

.leftLinks {
  color: initial;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
}

.title {
  margin-left: 10%;
  color: #18191f;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txt {
  color: initial;
  text-decoration: none;
  font-family: "Noto Sans";
  font-size: 140%;
  font-weight: 700;
}

.img {
  color: #18191f;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  animation-name: rotate;
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav a:hover {
  color: white;
  transition: 0.2s;
}

.leftContainer {
  display: inline-flex;
}

.buttonContainer {
  display: flex;
}

.button {
  background-color: #8b90ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #9ca1ff;
  transition: 0.25s;
  color: white;
}

.textoLogin {
  color: initial;
  text-decoration: none;
  font-family: "Noto Sans";
  font-size: 140%;
  font-weight: 700;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.search {
  border: 1px solid lightgray;
  background-color: #8b90ff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 5%;
  margin-right: 10%;
  font-size: 110%;
  color: rgb(255, 255, 255);
  outline: none;
}

.search::placeholder {
  color: white;
  font-family: "Ubuntu";
  font-weight: 400;
}

.searchButton {
  background-color: transparent;
  scale: 150%;
  color: black;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: -22%;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #9ca1ff;
  color: white;
}

.restoreButton {
  background-color: #8b90ff;
  scale: 150%;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;
}

.restoreButton:hover {
  background-color: #9ca1ff;
  color: white;
}
