@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Noto+Sans+JP:wght@500&family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&family=Ubuntu&display=swap");

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c2f4ff;
  height: 78px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav ul {
  display: flex;
  list-style: none;
  margin-left: 150px;
  padding: 0;
}

.nav li {
  margin: 25px;
}

.title {
  margin-left: 200px;
  color: #18191f;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #333;
}

.img {
  color: #18191f;
  height: 40px;
  width: 40px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav a {
  text-decoration: none;
  color: #18191f;
  font-weight: 500;
  font-family: "Noto Sans JP";
}

.nav a:hover {
  color: white;
}

.buttonContainer {
  display: flex;
}

.leftContainer {
  display: inline-flex;
}

.button {
  background-color: #8b90ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #9ca1ff;
  transition: 0.25s;
  color: white;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.search {
  border: 1px solid lightgray;
  background-color: #8b90ff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 30px;
  margin-right: -33px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  outline: none;
}

.search::placeholder {
  color: white;
  font-family: "Ubuntu";
}

.searchButton {
  background-color: transparent;
  scale: 150%;
  color: black;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #9ca1ff;
  color: white;
}

.restoreButton {
  background-color: #8b90ff;
  scale: 150%;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;
}

.restoreButton:hover {
  background-color: #9ca1ff;
  color: white;
}
