.modalUser {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  padding: 20px;
  /* border: 1px solid black; */
  overflow-y: auto;
  max-height: 80%;
}

.imagen {
  width: 150px;
  height: 150px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 700px;
  background-color: #46c0d9;
  border-radius: 20%;
}

.input {
  width: 400px;
  height: 40px;
  background-color: #f7f8f9;
  border-radius: 8px;
  border: #e8ecf4 solid 1px;
  margin: 10px;
  text-align: center;
}

.button {
  background-color: #2095de;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 15px 0;
}
.buttons {
  display: flex;
  gap: 10px;
}
